body{
    background-color: #def7d8;
    text-align: center;
    font-family: 'Onest', 'Courier New', Courier, monospace;
}

header{
    background-color: rgb(27, 150, 54);
    width: 1920px;
    margin-left: -50px;
    margin-top: -60px;
    margin-bottom: -50;
}

h1{
    font-size: 10vh;
    color: rgb(220, 255, 19);
    text-align: center;
    font-family:"Kaushan Script" , 'Courier New', Courier, monospace;
    margin-bottom: 5vh;
   padding-top: 5vh;
}

h2{
    font-size: 6vh;
    color: rgb(13, 68, 22);
    text-align: center;
    font-family:"Kaushan Script" , 'Courier New', Courier, monospace;
    margin-top: -5vh;
}

h3{
    font-size: medium;
    color: rgb(13, 151, 36);
    text-align: center;
    font-family:"Kaushan Script" , 'Courier New', Courier, monospace;
}


 p{color: rgb(8, 116, 26);
     text-align: left;
     font-size: medium;
    font-family: 'Onest','Courier New', Courier, monospace;
    text-decoration: none;

 }

 #p1{
     color: #def7d8;
 }

footer{
    margin-bottom: 3vh;
}


#lista1{
    display: flex;
}


nav{
   margin-bottom: 5vh;
    background-color: rgb(27, 150, 54);
}

li{
    font-size: 200%;
  color: rgb(27, 150, 54);
  margin-right: 7vh;
  margin-left: 13vh;
  margin-top: 3vh;
  font-family: 'Kaushan Script','Courier New', Courier, monospace;
   padding-bottom: 5vh;
   
}

article{
    font-family:"Kaushan Script",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  rgb(255, 255, 255);
    text-align: center;
}


a{
    text-decoration: none;
    color: #def7d8;
}

.sidebar{
    float: right;
    width: 300px;
    background-color: rgb(27, 150, 54);
}

/*/anotações
font-size: px, em, %, vh(proporcional ao tamanho da página)
text-aling: left, right, center, justify
text-decoration(sublinhar)
font-weight(negrito)
font-style: italic
font-family

list-style-type
list-style-image
 aumentar tamanho das fontes depois
/*/

